@page
@model bookstore.Pages.CheckoutCompletedModel
@{
}

<!-- add a thank you for shopping page-->

<div class="text-center">
    <h2>Thanks for shopping!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>
