@using Microsoft.AspNetCore.Http

@model bookstore.Models.Cart

<!--Add cart ability on the top-->

<div class="">

    @if (Model.Items.Count() > 0)
    {
        <small class="navbar-text">
            <b>Your cart:</b>
            @Model.Items.Sum(x => x.Quantity) item(s)
            @Model.CalculateTotal().ToString("c")
        </small>
    }
    <a class="btn btn-sm btn-secondary navbar-btn" asp-page="/Shop"
       asp-route-returnurl="@($"{Context.Request.Path}?{Context.Request.QueryString}")">
        <i class="fa fa-shopping-cart"></i>
    </a>


</div>
